*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sfondoRed{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-position: 0% 12%;
}

#sfondoGreen{
    background-color: green;
    height: 597px;
}

#sfondoBlue{
    background-color: blue;
    height: 554px;
}

#sfondoOrange{
    background-color: orange;
    height: 517px;
}

#sfondoViolet{
    background-color: violet;
    height: 964px;
}

#sfondoBrown{
    background-color: brown;
    height: 537px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}


.containerCenter{
    width: 70%;
    margin: 0px auto;
    /* border: 1px solid black; */
    padding: 20px;
}



#logo{
    width: 25%;
    float: left;
    height: 40px

}

#logo img{
    height: 100%;
} 

.link{
    float: left;
    width: 50%;
    text-align: center;
    padding: 5px;
}

.link a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;  
}

.link a:hover{
    text-decoration: underline;
}


.floatRight{
    width: 25%;
    float: right;
    text-align: right;
    
   
}

.button{
    width: 80px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
    display: inline-block; 
}

button{
    border: 0;
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
}

section{
    width: 34%;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

section h1,p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

section h1{
    font-size: 60px;
    margin-bottom: 30px;
}




.buttonBrowser{
    height: 60px;
    width: 400px;
    background-color: black;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    display: inline-block; 
    margin-top: 25px;
}

.buttonDownload{    
    height: 60px;
    width: 250px;
    background-color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    display: inline-block; 
    margin-top: 25px;
}

.white{
    border: 0;
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.black{
    border: 0;
    background-color: black;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#arrow{
    font-size: 25px;
    
} 