*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sfondoRed{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: 0% 12%;
}

#sfondoGreen{
    background-color: white;

}

#sfondoBlue{
    background-color: #e6e6e6;
}

#sfondoOrange{
    background-color: white;
}

#sfondoViolet{
    background-color: #e6e6e6;
}

#sfondoBrown{
    background-color: #23272A;
    height: 800px;
    
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}


.containerCenter{
    width: 60%;
    margin: 0px auto;
    /* border: 1px solid black; */
    padding: 20px;
}



#logo{
    width: 10%;
    float: left;
    height: 40px

}

#logo img{
    height: 100%;
} 

.link{
    float: left;
    width: 80%;
    text-align: center;
    padding: 5px;
}

.link a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;  
}

.link a:hover{
    text-decoration: underline;
}


.floatRight{
    width: 10%;
    float: right;
    text-align: right;
     
}

.button{
    width: 80px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
    display: inline-block; 
}

button{
    border: 0;
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
}

section{
    width: 34%;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

section h1,p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

section h1{
    font-size: 60px;
    margin-bottom: 30px;
}




.buttonBrowser{
    height: 60px;
    width: 400px;
    background-color: black;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    display: inline-block; 
    margin-top: 25px;
}

.buttonDownload{    
    height: 60px;
    width: 250px;
    background-color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    display: inline-block; 
    margin-top: 25px;
    margin-bottom: 150px;
}

.white{
    border: 0;
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.black{
    border: 0;
    background-color: black;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#arrow{
    font-size: 25px;
    
} 



.left{
    float: left;
    width: 70%;
    /* border: 3px solid black; */
    
}

.right{
    float: left;
    width: 30%;
    /* border: 3px solid black; */
}

.containerCenter2{
    width: 60%;
    margin: 0px auto;
    /* border: 3px solid black; */
}

.margineSvg{
    margin-top: 105px;
    margin-left: 30px;
}

.testo{
    margin-top: 130px;
    /* width: 300px; */
}

.testo h2{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}   

.testo p{
    color: black;
    text-align: left;
    margin-top: 5px;
}

.onda{
    height: 200px;
    background-color: white;
    background-blend-mode: overlay;
    filter: opacity(0.1);
}

.ruotata{
    height: 200px;
    background-color: white;
    transform: scaleY(-1); 
    filter: opacity(0.1);
}

.onda img{
    height: 100%;
}

.ondaRuotata img{
    height: 100%;
}





.secondoTitolo h2, p{
    text-align: center;
}
.secondoTitolo p{
    text-align: center;
}

.bigSvg img{
    width: 100%;
}


.titoloStellato{
    text-align: center;
}

.testoStella{
    color: black;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    font-weight: bold;
    background-image: url(../img/stars.svg);
    background-position: 350px -10px;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.color{
    background-color: lightblue;
}

.containerFooter{
    margin-top: 100px;
}

.colorTitolo{
    color: #7289DA;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.propietà{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.one{
    float: left;
    width: 20%;
    height: 500px;
    
}

.two{
    float: left;
    width: 20%;
    height: 500px;
}

.three{
    float: left;
    width: 20%;
    height: 500px;
}

.four{
    float: left;
    width: 20%;
    height: 500px;
}

.five{
    float: left;
    width: 20%;
    height: 500px;
}

.one img{
    margin-top: 20px; 
    height: 19px;
}

hr{
    color: white;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

ul li{
    margin-top: 20px;
}

li:hover{
    text-decoration: underline;
}

.icone a{
    margin-right: 20px;
}


